@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;

  @apply bg-slate-100;
}

.error-message {
  @apply text-red-500 text-sm mt-1;
}

.success-btn {
  @apply text-white
        bg-blue-700
        hover:bg-blue-800
        focus:ring-4
        focus:outline-none
        focus:ring-blue-300
        font-medium
        rounded-lg
        text-sm
        px-5
        py-2.5
        text-center
        flex-grow;
}

.danger-btn {
  @apply text-white
        bg-red-700
        hover:bg-red-800
        focus:ring-4
        focus:outline-none
        focus:ring-red-300
        font-medium
        rounded-lg
        text-sm
        px-5
        py-2.5
        text-center
        flex-grow;
}
